Json.txt.txt
[
    {
        "id": "483a437d1e14bf0d",
        "type": "tab",
        "label": "Rbt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acbbcadf62ea8167",
        "type": "mqtt in",
        "z": "483a437d1e14bf0d",
        "name": "posicion1",
        "topic": "posicion1",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f2c913bb6e663a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "e80d1c36a81a4563",
                "ae88f99dad68e571"
            ]
        ]
    },
    {
        "id": "b51a21e9bb82cecb",
        "type": "mqtt out",
        "z": "483a437d1e14bf0d",
        "name": "",
        "topic": "coordenadas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f2c913bb6e663a5",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "4cbe969ad41cea15",
        "type": "template",
        "z": "483a437d1e14bf0d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"{\"s\":{{payload}}}\"",
        "output": "str",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "b51a21e9bb82cecb"
            ]
        ]
    },
    {
        "id": "e80d1c36a81a4563",
        "type": "ui_gauge",
        "z": "483a437d1e14bf0d",
        "name": "",
        "group": "ce0df6aadb8c12df",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SL1",
        "label": "Grados",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "61cf2c925d791495",
        "type": "mqtt in",
        "z": "483a437d1e14bf0d",
        "name": "posicion2",
        "topic": "posicion2",
        "qos": "2",
        "datatype": "auto",
        "broker": "8f2c913bb6e663a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "07b080255498d2e8",
                "7315a2c9a9e5d17e"
            ]
        ]
    },
    {
        "id": "07b080255498d2e8",
        "type": "ui_gauge",
        "z": "483a437d1e14bf0d",
        "name": "",
        "group": "ce0df6aadb8c12df",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SL2",
        "label": "Grados",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "ae603daf08d37714",
        "type": "ui_text_input",
        "z": "483a437d1e14bf0d",
        "name": "",
        "label": "Ingresa coordenadas",
        "tooltip": "",
        "group": "ce0df6aadb8c12df",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "4cbe969ad41cea15"
            ]
        ]
    },
    {
        "id": "b3c6e3070570b890",
        "type": "ui_date_picker",
        "z": "483a437d1e14bf0d",
        "name": "",
        "label": "Fecha",
        "group": "73d3f3ad325448d6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 70,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ae88f99dad68e571",
        "type": "ui_chart",
        "z": "483a437d1e14bf0d",
        "name": "",
        "group": "5c58fd40b16b210b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Eslabon 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "7315a2c9a9e5d17e",
        "type": "ui_chart",
        "z": "483a437d1e14bf0d",
        "name": "",
        "group": "5c58fd40b16b210b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Eslabon 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9363a7282e21e446",
        "type": "rpi-gpio out",
        "z": "483a437d1e14bf0d",
        "name": "SL",
        "pin": "4",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 250,
        "y": 420,
        "wires": []
    },
    {
        "id": "d921eb4db5ffa199",
        "type": "ui_switch",
        "z": "483a437d1e14bf0d",
        "name": "",
        "label": "SL On/Off",
        "tooltip": "",
        "group": "73d3f3ad325448d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "bin",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 80,
        "y": 420,
        "wires": [
            [
                "9363a7282e21e446"
            ]
        ]
    },
    {
        "id": "65bd9626e0736f2e",
        "type": "ui_spacer",
        "z": "483a437d1e14bf0d",
        "name": "spacer",
        "group": "f15132b9662f20df",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f2c913bb6e663a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ce0df6aadb8c12df",
        "type": "ui_group",
        "name": "Angulo",
        "tab": "75f4938b9dd1aa2e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "73d3f3ad325448d6",
        "type": "ui_group",
        "name": "Inicio",
        "tab": "75f4938b9dd1aa2e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5c58fd40b16b210b",
        "type": "ui_group",
        "name": "Grafico de Eslabones",
        "tab": "75f4938b9dd1aa2e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f15132b9662f20df",
        "type": "ui_group",
        "name": "Interruptor del Led",
        "tab": "0e5a71cb1854437d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "75f4938b9dd1aa2e",
        "type": "ui_tab",
        "name": "Angulo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0e5a71cb1854437d",
        "type": "ui_tab",
        "name": "NodeMCU MQTT Básico",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]